.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    
}  
 .grid-item-1{
    display: grid;
   grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
   padding-left: 5px;
   align-items: center;
   background-color: black;
   color: white;   
 }      

 .grid-item-2{
    display: grid;
    grid-template-columns: 450px 1fr 450px;
    align-items: center;

 }

 .date{
    background-color: lightgrey;
    border: 1px solid black;
    text-indent: 10%;  
 }

 .grid-item-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px 1fr;
    align-items: center;
    padding: 10px;
    
 }
.click{
    background-color: rgb(163, 163, 7);
    color: white;
    border: 1px solid grey;
    padding: 10px;
    font-size: 20px;
}
    
.grid-item-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
    color: white;
}
.chicago{
    height: 300px;
    width: 300px;
}
.location{
    height: 15px;
    width: 15px;
}
.email{
    height: 15px;
    width: 15px;
}
.phone{
    height: 15px;
    width: 15px;
}